@{
    ViewData["Title"] = "Index";
}
<h1>@ViewData["Title"]</h1>
@model Art.NetCore.SignalR.Model.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SignalR App</title>
</head>
<body>
<div>
    姓名：<input type="text" id="name" value="@Model.Name"/><br/>
    訊息：<input type="text" id="msg"/><br/>
</div>

<button type="Button" id="submitBtn">送出</button><br/>
<div id="msgDiv"></div>

<script src="js/index.js"></script>
</body>
</html>